#letter-buttons-container {
    display: flex;
    flex-wrap: wrap;       /* 允许换行 */
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    gap: 0.5em;             /* 按钮间距 */
    margin: 2em auto;
}

#letter-buttons-container .ui-btn {
    width: 40px;
    /*flex: 1 0 40px;  /* 基础宽度 40px，可伸缩 */
    /*max-width: 60px; /* 限定最大宽度 */
    /*min-width: 30px; /* 限定最小宽度 */
    text-align: center;
    padding: 0.5em 0.7em;
    white-space: nowrap;
}
