[dir=ltr] .md-typeset ul .tag__name {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  background-color: #31572c;
  padding: 4px 15px 4px;
  border-radius: 70em;
  margin: 0 10px 10px 0;
  position: relative;
  text-transform: lowercase;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

/*.tag__name::before,.tag__name::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #90a955;
}

.tag__name::before {
  left: 7px;
}

.tag__name::after {
  right: 7px;
}*/

.tag__name:hover {
  transform: scale(1.1);
  background-color: #51572c;
}