div[id^="table-day"] {text-align:center;}
div[id^="table-day"] tr td {max-width: 200px;}

.trans-hidden
{
    background:#000;
    color:#fff;
    cursor:pointer;
    user-select:none;
    opacity:0;
    transition:opacity .25s;
}
.trans-hidden:hover, .trans-hidden:active { opacity: 1; }