.toefl-vocab-header { flex-direction: column;display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; gap:0; margin-bottom:0; }
.vocab-controls button, .vocab-controls input { margin:0 4px; }
#page-input { width:60px; text-align:center; }
.words-table-container{ margin-top: 1em; text-align: center; }
.toefl-vocab-header h2 { margin: auto; }